/*_____________________________*/
/*           HEADER            */
/*_____________________________*/

/*responsividade da chamada do header*/
@media screen and (max-width: 1440px) {
  header div.chamada {
    height: 400px;
  }
  header div.chamada h1 {
    font-size: 120px;
  }
  header div.chamada h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  header div.chamada h1 {
    font-size: 100px;
  }
  header div.chamada h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 620px) {
  header div.chamada h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 555px) {
  header div.chamada h1 {
    font-size: 60px;
  }
  header div.chamada h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  header div.chamada h1 {
    font-size: 60px;
  }
  header div.chamada h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  header div.chamada h1 {
    font-size: 50px;
  }
  header div.chamada a {
    font-size: 15px;
  }
}

/*responsividade da capa do header*/
@media screen and (max-width: 1200px) {
  header {
    background: url(../img/headerCapaM.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @media screen and (max-width: 768px) {
    header {
      height: auto;
      min-height: 70vh;
    }
  }

  @media screen and (max-width: 600px) {
    header {
      background: url(../img/headerCapaP.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}

/*_____________________________*/
/*           NAVBAR            */
/*_____________________________*/
@media screen and (max-width: 1110px) {
  header nav#nav-esq ul#menu-principal li a {
    font-size: 90%;
  }
}

@media screen and (max-width: 768px) {
  header div.chamada h1 {
    padding-top: 50px;
  }
  header nav#nav-esq {
    font-size: 14px;
  }
}

/*diminui o tamanho da logo*/
@media screen and (max-width: 630px) {
  header nav#nav-esq div#logo {
    margin-left: 0.5rem;
  }
  
  /*-------MENU HAMBURGUER-------*/
  header nav#nav-esq {
    justify-content: space-between;
    padding: 1rem;
  }

  header nav#nav-esq ul#icone-menu {
    display: flex;
  }

  /*------ANIMAÇÃO NO JS------*/
  header nav#nav-esq ul#icone-menu li#menuX {
    display: none;
  }

  /*--------MENU PRINCIPAL—--------*/
  header nav#nav-esq ul.menu-principal {
    flex-direction: column;
    width: 50%;
    height: 33vh;
    background-color: #d0f2f2;
    padding-top: 0.5rem;
    position: absolute;
    top: 5.5rem;
    right: 0;
    z-index: 999;
    display: none;
  }

  header nav#nav-esq ul.menu-principal li {
    margin: 0.5rem;
  }

  header nav#nav-esq ul.menu-principal li a {
    font-size: 120%;
  }
}
/**************************************/

@media screen and (max-width: 568px) {
  header nav#nav-esq ul.menu-principal {
    display: none;
  }

  header nav#nav-esq ul#icone-menu {
    display: block;
  }

  header nav#nav-esq ul#icone-menu li ion-icon {
    font-size: 30px;
  }

  div.chamada {
    font-size: 70%;
    padding-top: 50px;
    top: 50%;
  }
}

/*_____________________________*/
/*            SOBRE            */
/*_____________________________*/
@media screen and (max-width: 1440px) {
  section.sobre {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  section.sobre {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  section.sobre h2 {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 425px) {
  section.sobre div.sobre-container h3 {
    font-size: 25px;
  }
}

/*_____________________________*/
/*           CARDÁPIO          */
/*_____________________________*/
@media screen and (max-width: 1024px) {
  section.cardapio {
    padding-left: 1rem;
  }
}

/*_____________________________*/
/*          DELIVERY           */
/*_____________________________*/
@media screen and (max-width: 1440) {
  section#delivery div.delivery-container h1 {
    font-size: 150px;
  }
  section#delivery div.delivery-container h2 {
    font-size: 100px;
  }
}

@media screen and (max-width: 768px) {
  section#delivery {
    height: 50vh;
    padding: 30px;
    margin-top: 40px;
  }

  section#delivery div.delivery-container {
    width: 100%;
  }

  section#delivery div.delivery-container h1 {
    font-size: 50px;
  }

  section#delivery div.delivery-container h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 365px) {
  div.chamada a {
    font-size: 0.5rem;
  }
}

/*_____________________________*/
/*           CONTACTO          */
/*_____________________________*/
@media screen and (max-width: 768px) {
  section.contacto {
    flex-direction: column;
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  section.contacto div.form-contacto {
    max-width: 400px;
  }
}
@media screen and (max-width: 460px) {
  section.contacto div.form-contacto {
    max-width: 300px;
  }
}

@media screen and (max-width: 340px) {
  section.contacto div.form-contacto {
    max-width: 270px;
  }
}
/*_____________________________*/
/*            FOOTER           */
/*_____________________________*/
@media screen and (max-width: 1440px) {
  footer div.link-topo #link-topo {
    padding: 40px;
  }
}
@media screen and (max-width: 1115px) {
  footer div.link-topo #link-topo {
    font-size: 20px;
  }
  footer div.footer-content {
    grid-template-columns: auto auto auto;

    margin-left: 50px;
    font-size: 5px;
  }
  section.contacto div.form-contacto {
    width: 550px;
  }
}
@media screen and (max-width: 1024px) {
  footer div.link-topo #link-topo {
    padding: 50px;
  }
}
@media screen and (max-width: 620px) {
  footer div.link-topo #link-topo {
    padding: 20px;
  }
}
@media screen and (max-width: 550px) {
  footer div.footer-content {
    grid-template-columns: auto;
    margin-right: 60px;
  }
}
@media screen and (max-width: 450px) {
  footer div.link-topo #link-topo {
    padding: 20px;
  }
}
