/*_____________________________*/
/*           HEADER            */
/*_____________________________*/

/*responsividade da capa no header*/
@media screen and (max-width: 1200px) {
  header {
    background: url(../img/headerCapaM.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @media screen and (max-width: 600px) {
    header {
      background: url(../img/headerCapaP.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    height: auto;
    min-height: 60vh;
  }
}

/*_____________________________*/
/*           NAVBAR            */
/*_____________________________*/
/*diminuir o tamanho da letra*/
@media screen and (max-width: 1110px) {
  header nav#nav-esq ul#menu-principal li a {
    font-size: 90%;
  }
}

/*diminuir o tamanho da logo*/
@media screen and (max-width: 970px) {
  header nav#nav-esq div#logo {
    margin-left: 1rem;
  }
  /*-------MENU HAMBURGUER-------*/
  header nav#nav-esq {
    justify-content: space-between;
    /* padding: 1.5rem; */
  }

  header nav#nav-esq ul#icone-menu {
    display: flex;
  }

  /*------PARA ANIMAÇÃO NO JS------*/
  header nav#nav-esq ul#icone-menu li#menuX {
    display: none;
  }

  /*--------MENU PRINCIPAL—--------*/
  header nav#nav-esq ul.menu-principal {
    flex-direction: column;
    width: 80%;
    height: 70vh;
    flex-direction: column;
    background: #000;
    padding-top: 0.5rem;

    position: absolute;
    top: 7rem;
    right: 0;
    z-index: 999;

    display: none;
  }

  header nav#nav-esq ul.menu-principal li {
    margin: 0.5rem;
    /* margin-left: 1rem; */
  }

  header nav#nav-esq ul.menu-principal li a {
    font-size: 120%;
  }
}

@media (max-width: 768px) {
  header nav#nav-esq ul.menu-principal {
    display: none;
  }

  header nav#nav-esq ul#icone-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  header nav#nav-esq ul#icone-menu li ion-icon {
    font-size: 30px;
  }
}

/*_____________________________*/
/*           NAVBAR            */
/*_____________________________*/
@media (max-width: 768px) {
  section.sobre h2 {
    margin-left: 0;
    text-align: center;
  }
}

/*_____________________________*/
/*          DELIVERY           */
/*_____________________________*/
@media (max-width: 768px) {
  section#delivery {
    height: auto; /* Altura automática para acomodar o conteúdo */
    padding: 20px; /* Espaçamento menor */
    margin-top: 40px; /* Margem superior menor */
  }

  section#delivery div.delivery-container {
    width: 100%; /* Largura total */
  }

  section#delivery div.delivery-container h1 {
    font-size: 36px; /* Reduzir o tamanho da fonte */
    padding-top: 10px; /* Espaçamento superior menor */
    padding-bottom: 5px; /* Espaçamento inferior menor */
  }
}

@media (max-width: 768px) {
  div.chamada a {
    font-size: 14px; /* Reduza o tamanho da fonte para telas menores */
    padding: 15px 50px; /* Reduza o espaçamento interno para telas menores */
    width: 100%; /* Faça o botão ocupar a largura total */
  }
}

/*_____________________________*/
/*           CONTACTO          */
/*_____________________________*/
@media (max-width: 768px) {
  section.contacto {
    flex-direction: column; /* Alinhar conteúdo verticalmente em telas menores */
    padding: 20px; /* Espaçamento menor */
  }
}

/*_____________________________*/
/*            FOOTER           */
/*_____________________________*/

/* @media screen and (max-width: 1104px) {
  footer div.footer-content {
    grid-template-columns: auto auto auto;

    margin-left: 50px;
    font-size: 5px;
  }

  section.contacto div.form-contacto {
    width: 550px;
  }
}

@media screen and (max-width: 426px) {
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
} */

@media (max-width: 768px) {
  footer div.footer-content {
    display: flex;
    flex-direction: column; /* Coluna em telas menores */
    align-items: center;
  }
}
