/********** COLORS **********/
#558C03
#A1BF73
#83A638
#97BF04
#F2F2F2

#D0F2F2
#055902
#F2CB05
#F2B705
#F24B4B


/********** FONTS **********/
/*
font-family: 'Assistant', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/

/******* GLOBAL ADJUSTMENTS ********/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins" cursive;
  text-shadow: 4px 4px 6px #000;
  font-weight: 700;
  font-size: max(44px, 5.2vw);
}

h2 {
  font-family: "Roboto", cursive;
  text-shadow: 4px 4px 6px #464646;
  font-weight: 700;
  font-size: max(20px, 2.8vw);
}

/********** BOTÃO CHAMADA **********/
div.chamada a {
  font-size: max(16px, 1.8vw);
  color: #000;
  text-decoration: none;
  padding: 15px 100px;
  border-radius: 50px;
  font-weight: 600;
  background: linear-gradient(to bottom, rgba(151, 191, 4), rgba(242, 75, 75));

  border: 1px solid;
  transition-duration: 0.4s;
  width: 130px;
  cursor: pointer;
  font-family: "Rubik", cursive;

  /* animation-name: HeaderA-moveParaCima;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  transition: .3s ease-in-out; */
}

div.chamada a:hover {
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/*_____________________________*/
/*           HEADER            */
/*_____________________________*/

header {
  max-width: 100%;
  height: 90vh;
  /* width: 100%;
  height: 95vh; */
  background: url(../img/headerCapaG.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  position: relative;
}

/*_____________________________*/
/*           NAVBAR            */
/*_____________________________*/

header nav#nav-esq {
  width: 100%;
  height: 100px;
  background: #000;

  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

header nav#nav-esq div#logo {
  /* max-width: 100px;
  max-height: 100px; */
  width: 100px;
  height: 80px;
  margin-left: 5rem;
}

header nav#nav-esq div#logo img {
  max-width: 100%;
  max-height: 100%;
}

/********** MENU HAMBURGUER **********/
header nav#nav-esq ul#icone-menu {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 8em;
  display: none;
  z-index: 999;

  /* display: none;
  background: #000;
  position: fixed;
  top: 50px;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
  z-index: 999; */
}

header nav#nav-esq ul#icone-menu li {
  list-style: none;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

  /* list-style: none; */
  /* margin: 10px; */
}

header nav#nav-esq ul#icone-menu li ion-icon {
  font-size: 30px;
  color: #f2f2f2;
  /* margin-right: 2rem; */

  margin: 20px; 
  /* add para sair de cima da logo */
}

/********** MENU PRINCIPAL **********/
header nav#nav-esq ul.menu-principal {
  margin-left: 5rem;

  display: flex;
  flex-flow: row wrap;
}

header nav#nav-esq ul.menu-principal li {
  list-style: none;
  margin-right: 2rem;
}

header nav#nav-esq ul.menu-principal li a {
  text-decoration: none;
  color: #f2f2f2;
  text-shadow: 4px 6px 10px #000;
  font-size: 100%;
  padding-bottom: 10px;
  transition: 0.3s ease-in-out;
}

header nav#nav-esq ul.menu-principal li a:hover {
  border-bottom: 1px solid #f2f2f2;
  opacity: 0.6;
}

/********** CHAMADA **********/
header div.chamada {
  position: absolute;
  /* position: relative; */
  width: 100%;
  height: 300px;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header div.chamada h1 {
  color: #97bf04;

  /* animation-name: HeaderH1-moverParaDireita;
  animation-duration: 2s;
  animation-timing-function: ease-out; */
}

header div.chamada h2 {
  color: #d0f2f2;
  margin-bottom: 40px;

  /* animation-name: HeaderH1-moverParaEsquerda;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; */
}

/*_____________________________*/
/*            SOBRE            */
/*_____________________________*/
section.sobre {
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
}

section.sobre h2 {
  margin-left: 2rem;
  color: #055902;
  text-align: left;
  font-size: max(30px, 2vw);
  margin-top: auto;
}

section.sobre div.sobre-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

section.sobre div.sobre-container h3 {
  max-width: 100%;
  text-align: center;
  font-size: max(30px, 1.8vw);
  margin-top: auto;
  color: #055902;
  text-shadow: 2px 2px 4px #000;
}

section.sobre div.sobre-container p {
  max-width: 90%;
  margin: auto;
  color: #000;
  font-size: max(16px, 1vw);
}

section.sobre div.sobre-container img {
  width: 90%;
  border: 2px solid;
  border-radius: 20px;
}

/*_____________________________*/
/*          CARDÁPIO           */
/*_____________________________*/
section.cardapio {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  text-align: center;
}

section.cardapio h2 {
  margin-left: 2rem;
  text-align: left;
  color: #055902;
}

section.cardapio div.cardapio-container {
  margin: 20px;
  text-align: center;
}

section.cardapio div.cardapio-container h3.cardapio-titulo {
  text-align: center;
  font-size: max(25px, 1vw);
  color: #055902;
}

section.cardapio div.cardapio-container p.cardapio-texto {
  text-align: center;
  font-size: max(15px, 1vw);
  color: #000000;
}

section.cardapio div.cardapio-container .cardapio-comprar {
  border-radius: 5px;
  border: 2px solid #000000;
  background: linear-gradient(to bottom, rgba(242, 183, 5), rgba(242, 75, 75));
  cursor: pointer;
  transition: 0.4s;
  color: #000;
}

section.cardapio div.cardapio-container .cardapio-comprar:hover {
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/*_____________________________*/
/*          DELIVERY           */
/*_____________________________*/
section#delivery {
  background: url(../img/sectionDelivery.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  padding: 50px;
  margin-top: 30px;
  position: relative;
}

section#delivery div.delivery-container {
  width: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 10px;

  text-align: center;
}

section#delivery div.delivery-container h1 {
  font-size: 70px;
  color: #97bf04;
}

section#delivery div.delivery-container h2 {
  font-size: 50px;
  padding-bottom: 10px;
  color: #d0f2f2;
  text-shadow: 4px 4px 6px #000;
}

/*_____________________________*/
/*          CONTACTO           */
/*_____________________________*/
section.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  padding-top: 50px;
}

section.contacto div.form-contacto {
  width: 100%;
  max-width: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 10px;
  background: #558c03;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 20px;
}

section.contacto div.form-contacto h2 {
  font-size: 24px;
  margin: 10px 0;
}

section.contacto div.form-contacto form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section.contacto div.form-contacto form label {
  font-size: 16px;
}

section.contacto div.form-contacto form input,
section.contacto div.form-contacto form textarea {
  font-size: 16px;
  padding: 10px;
  outline: none;
  border: 0;
  margin: 10px;
  transition: all 0.5s;
}

section.contacto div.form-contacto form input:focus,
section.contacto div.form-contacto form textarea:focus {
  border-radius: 16px;
}

section.contacto div.form-contacto form button {
  font-size: 18px;

  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid #000;
  color: #000;
  transition: all 1s;
  margin-bottom: 20px;
}

section.contacto div.form-contacto form button:hover {
  background: #f2f2f2;
  color: #558c03;
  border-radius: 16px;
}

/*_____________________________*/
/*           FOOTER            */
/*_____________________________*/
footer {
  width: 100%;
  background: #d0f2f2;
}

footer div.footer-content {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 1rem;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
}

footer div.footer-content div.footer-contacts img {
  width: 100px;
}

footer div.footer-content div.footer-contacts p {
  font-size: max(16px, 1vw);
}

footer div.footer-content div.footer-contacts div.footer-social-midia {
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer
  div.footer-content
  div.footer-contacts
  div.footer-social-midia
  .footer-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  color: #f2f2f2;
  border-radius: 50%;
  font-size: 1rem;
  transition: all 0.4s;
}

footer
  div.footer-content
  div.footer-contacts
  div.footer-social-midia
  .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

footer div.footer-content ul.footer-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  font-size: max(10px, 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div.footer-content ul.footer-list a.footer-link {
  color: #000000;
  transition: all 0.4s;
  text-decoration: none;
}

footer div.footer-content .footer-list a.footer-link:hover {
  color: #f24b4b;
}

footer div.link-topo #link-topo {
  text-decoration: none;
  color: #f24b4b;
  padding: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

footer div.footer-copyright {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  color: #000000;
}
